/* Contact */
.contact {
  padding: 7rem 0;
  min-height: 100vh;
}
.contact-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}
.contact-heading {
  width: 60%;
}
.contact-heading h2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222831;
}

.contact-heading h2:hover {
  background: linear-gradient(to right, #b927fc, #2c64fc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-heading p {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.1;
  color: #464545;
  position: relative;
}
.contact-heading p::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5rem;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(120, 67, 233);
  border-radius: 5px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 3rem;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}
.contact-form label {
  color: #666;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
  text-align: left;
}
.contact-input {
  color: #333;
  padding: 1rem;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 1rem;
  letter-spacing: 0px;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contact-form textarea {
  height: 15rem;
  resize: none;
}
.btn-submit {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background-color: #7843e9;
  border-radius: 5px;
  padding: 2% 0;
  border: none;
}
.btn-submit:hover {
  background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
  color: rgba(1, 1, 1);
}
/* Contact End */
