* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --bg-primary: #1a1b2b;
  --bg-primary2: #50556d;
  --bg-primary3: #eef1ff;
  --bg-primary4: #f2f5f7;
}
.navbar {
  background-image: linear-gradient(
    to right,
    var(--bg-primary),
    var(--bg-primary2)
  );
}
.product {
  background-color: #1f1e22;
  top: 0;
  left: 0;
  right: 0;
}
.heading {
  background-color: #000;
  height: 25rem;
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to bottom, rgba(31, 30, 34, 0), #1f1e22);
  pointer-events: none;
}
.title h2,
.search {
  position: relative;
}
.search {
  width: 100%;
  max-width: 25rem;
}
.search input {
  border-radius: 13px 0 0 13px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 20rem;
  padding: 8px;
  outline: none;
}
.search button {
  background: #ddd;
  border: none;
  border-radius: 0 13px 13px 0;
  cursor: pointer;
  padding: 9px 12px;
  margin-bottom: -15px;
  white-space: nowrap;
}
.search button:hover {
  background: #ccc;
}
.content {
  background-color: var(--bg-primary4);
  border-radius: 15px;
}
.content a {
  text-decoration: none;
  color: #232125;
  font-size: 1.5rem;
}
.content a:hover {
  color: #293494;
}
